@import 'style', 'vars', 'global';

.header {
    background-color: $color-2;
    height: 120px;
    position: fixed;
    &-wrapper {
        padding: 30px 0;
    }
    &-logo {
       
        &_title {
            color: $color-6;
        }
        &_text {
                color: $color-5;
        }
    }

   
}

.nav-menu {
    &_item-link {
        color: $color-6;
        &.active {
            color: $color-5;
        }
    }
    
}

.friends {
    padding: 200px 0 100px;
    
    &-slider {
        gap: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        column-gap: 30px;
        
    }
}

.footer {
    background-image: url(../assets/images/footer-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    
    

    @include md-block() {
        height: fit-content;
    }

    @include sm-block() {
        height: fit-content;
    }

    &-wrapper {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;

        flex-wrap: wrap;
        
        

        @include md-block() {
            row-gap: 60px;
            column-gap: 65px;
            padding-top: 30px;
            justify-content: center;
        }

        @include sm-block() {
            padding-top: 30px;
            justify-content: center;
            gap: 40px;
        }


        &_contacts {
            display: flex;
            flex-direction: column;
            gap: 40px;
            

            @include sm-block() {
                margin-bottom: 40px;
            }

            &-title {
                color: $color-2;
                text-align: left;
                max-width: 278px;
                margin-bottom: 40px;

                @include sm-block() {
                    text-align: center;

                }

            }

            &-link {
                font-family: $font-1;
                color: $color-1;
                font-size: 20px;
                line-height: 115%;
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }

        &_location {
            display: flex;
            flex-direction: column;
            gap: 40px;


            &-title {
                color: $color-2;
                text-align: left;
                max-width: 278px;
                margin-bottom: 40px;

                @include sm-block() {
                    text-align: center;
                }
            }

            &-link {
                font-family: $font-1;
                color: $color-1;
                font-size: 20px;
                line-height: 115%;
                display: flex;
                align-items: center;
                gap: 20px;
                max-width: 300px;
            }
        }

        &-puppy {
            @include sm-block() {
                width: 260px;
                height: 269px;
            }
        }
    }
}

